{{- $data := . }}
{{- $email := get . "email" -}}
{{- if not $email -}}
{{-     $email = promptString "email" -}}
{{- end -}}

{{ if eq .chezmoi.os "windows" }}
[edit]
    command = "code"
    args = ["--wait"]

{{ else if eq .chezmoi.os "linux" }}


{{ end }}

[git]
    autoCommit = true
    autoPush = true