# Self-elevate the script if required
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] "Administrator")) {
  if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
    $CommandLine = "-ExecutionPolicy Bypass -NoExit -File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
    Start-Process -FilePath PowerShell.exe -Verb RunAs -ArgumentList $CommandLine -Wait
    Exit
  }
}
Function Test-CommandExists {
  Param ($command)

  $oldPreference = $ErrorActionPreference
  $ErrorActionPreference = "stop"

  try {
    if (Get-Command $command) {
      return $true
    }
  }
  Catch {
    return $false
  }
  Finally {
    $ErrorActionPreference = $oldPreference
  }
}

# Install Chocolatey if it is not already installed
if (-Not (Test-CommandExists "choco")) {
  Set-ExecutionPolicy Bypass -Scope Process -Force
  [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
  Invoke-Expression ((New-Object System.Net.WebClient).DownloadString("https://community.chocolatey.org/install.ps1"))
}

$chocoPackages = @(
    'ripgrep',
    'cascadiafonts',
    'dotnetfx',
    'neovim',
    'firacode',
    'nerd-fonts-FiraCode'
)
Write-Host "Installing Chocolatey packages..."
choco upgrade chocolatey -y
choco upgrade $chocoPackages -y

Write-Host "Installing packages always used"
choco upgrade vim --params "/NoDesktopShortcuts /NoContextmenu /NoDefaultVimrc"
choco upgrade openssh

winget upgrade Git.Git -y
winget upgrade Microsoft.WindowsTerminal -y
winget upgrade Mozilla.Firefox -y
winget upgrade Starship.Starship -y
winget upgrade PuTTY.PuTTY -y
winget upgrade Microsoft.PowerShell -y
winget upgrade Microsoft.PowerToys -y
winget upgrade Microsoft.VisualStudioCode -y
winget upgrade Devolutions.RemoteDesktopManager -y

code --install-extension firefox-devtools.vscode-firefox-debug
code --install-extension ms-vscode-remote.remote-wsl
code --install-extension ms-vscode.powershell
code --install-extension usernamehw.errorlens
code --install-extension Tim-Koehler.helm-intellisense

