{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

packages=(
    ripgrep
    bat
    curl
    jq
    neovim
    fzf
    unzip
    zsh
)

packages+=(
	shellcheck
)

packages+=(
    gpg
    gpg-agent
    fd-find
    exa
)

sudo apt update
sudo apt install \
    --no-install-recommends \
    --no-install-suggests \
    -y \
    ${packages[@]}

# Starship
sh -c "$(curl -fsSL https://starship.rs/install.sh | head -n -5)" -- -y -b "$HOME/.local/bin"

sudo apt upgrade -y

{{- end -}}
