# Fix for unreliable profile sourcing, eg. switching to a second TTY
if [[ -z "$PROFILE_SOURCED" ]]; then
    source ~/.local/zsh/.zprofile
fi
# Zsh usefull options
setopt nomatch autopushd

source ~/.config/zsh/fzf-zsh-completion.sh
bindkey '^I' fzf_completion

# Bindkeys based on vi mode
bindkey '^R' history-incremental-search-backward

# Completions
zstyle :compinstall filename "$ZDOTDIR/.zshrc"

autoload -Uz compinit
compinit -d "$XDG_CACHE_HOME/zsh/zcompdump-$ZSH_VERSION"
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path "$XDG_CACHE_DIR/zcompcache"
zstyle ':completion:*' group-name ''
zstyle ':completion:*:*:*:*:descriptions' format '%F{green}-- %d --%f'
zstyle ':completion:*:messages' format ' %F{purple} -- %d --%f'
zstyle ':completion:*:warnings' format ' %F{red}-- no matches found --%f'
zstyle ':completion:*' fzf-search-display true

# Lines configured by zsh-newuser-install
export HISTFILE="$XDG_STATE_HOME"/zsh/history
HISTSIZE=1000000
SAVEHIST=1000000

unsetopt autocd beep notify
# bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/winscap/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
#

# Aliasses
alias l="exa -lh"
alias ls="exa --icons -F -H --group-directories-first"
alias la="exa -la"
alias ll="exa -ll"
alias cat="bat"
alias grep="rg"

#### ------------------------------

#### exa - Color Scheme Definitions

#### ------------------------------

export EXA_COLORS="\
uu=36:\
gu=37:\
sn=32:\
sb=32:\
da=34:\
ur=34:\
uw=35:\
ux=36:\
ue=36:\
gr=34:\
gw=35:\
gx=36:\
tr=34:\
tw=35:\
tx=36:"


eval "$(starship init zsh)"
