{{ if eq .chezmoi.os "windows" }}
[edit]
    command = "code"
    args = ["--wait"]

{{ else if eq .chezmoi.os "linux" }}
[edit]
    command = "nvim"


{{ end }}

[git]
    autoCommit = true
    autoPush = false

{{ if eq .chezmoi.os "windows" }}
[interpreters.ps1]
    command = "pwsh"
    arguments = ["-NoLogo"]
[cd]
    command = "pwsh"

{{ else if eq .chezmoi.os "linux" }}
[interpreters.ps1]
    command = "pwsh"
[cd]
    command = "pwsh"
{{ end }}

