# SQLite configuration
export SQLITE_HISTORY=$XDG_STATE_HOME/sqlite_history


# GnuPG configuration
export GNUPGHOME="$XDG_DATA_HOME/gnupg"

# Shell configuration
export ZDOTDIR="${ZDOTDIR:-$XDG_CONFIG_HOME/zsh}"
export ZINIT_HOME="$XDG_DATA_HOME/zinit"

export LESSHISTFILE="$XDG_STATE_HOME/less_history"

export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export DOTNET_CLI_HOME="$XDG_DATA_HOME"/dotnet
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export XCURSOR_PATH=/usr/share/icons:$XDG_DATA_HOME/icons
export INPUTRC="$XDG_CONFIG_HOME"/readline/inputrc
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export HISTFILE="$XDG_STATE_HOME"/zsh/history


{{/* vim: set filetype=zsh: */}}

