# SQLite configuration
export SQLITE_HISTORY=$XDG_STATE_HOME/sqlite_history


# GnuPG configuration
export GNUPGHOME="$XDG_DATA_HOME/gnupg"

# Shell configuration
export ZDOTDIR="${ZDOTDIR:-$XDG_CONFIG_HOME/zsh}"
export ZINIT_HOME="$XDG_DATA_HOME/zinit"

export LESSHISTFILE="$XDG_STATE_HOME/less_history"

{{/* vim: set filetype=zsh: */}}
