# Path as an array for readability
path=(

    "$CARGO_HOME/bin"

    # WSL Tooling support
    #"/mnt/c/Program Files/Microsoft VS Code/bin"

    # Defaults you always want
    "$HOME/.local/share/bin"
    "$HOME/.local/bin"
    "$HOME/.dotnet/tools"
    "/usr/local/sbin"
    "/usr/local/bin"
    "/usr/bin"
    "/bin"
    "/usr/sbin"
    "/sbin"
)


typeset -U path

export PATH=$(IFS=":"; echo "${path[*]}")
